doctype html
html
  head
    title ADA
    block scripts
    block style     
  body      
    block content
       nav#navbar       
        ul
          div#logo
            img(src="../static/Img/logo.png")
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
    block footer 
      footer#footer 
        | Copyright 2024 ADA
      